<?php
    /** @var \Magento\Framework\View\Element\Template $block */
    /** @var \Magento\CustomModule\ViewModel\WelcomeMessage $welcomeMessageViewModel */

    $welcomeMessageViewModel = $block->getData('welcome_message_view_model');
?>

<!-- <h1><?= $welcomeMessageViewModel->getWelcomeMessage() ?></h1> -->

<h1>
    <?= __('Name :') ?><?= $welcomeMessageViewModel->getConfigMessage() ?>
</h1>
<h1>
    <?= __('Description :') ?> <?= $welcomeMessageViewModel->getConfigMessage2() ?>
</h1>


<!-- <h1><?= __('Hello World') ?></h1> -->
